target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/feign-consumer/out
/api-gateway/out
/config-client/out
/config-server/out
/Customer/out
/RegisterCenter/out
/ServiceSupport/out
/dashboard/out
/turbine/out

